---

description: kiflay web developer, web site developer,ecommerce developer,web application developer

---

<!DOCTYPE html>
<html>
  

  {% include head.html %}
  {% include google-analytics.html %}
  <body>
   

    {% include header.html %}

    <div class="page-content">
      <div class="kt-carousel">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
              <li class="carousel-image">
                 <img src="/assets/Images/Home/about.jpg">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/Home/home.jpe">
              </li>
              
             
            </ul>
          </div>

          <div class="kt-info">
            <h3>Web Application Developer</h3>
            <p class="kt-text">Deliver Beatiful Websites</p>
          </div>
         

      </div>

                    
         <div class="home">
          <div class="kt-content">
              <div class="intro">
                  <div class="wrapper">
                 <h2 class="kt-indexHeader">Software solutions to be more productive </h2>
                 <div class="row">
                  <div class="services">
                    <div class="icon-circle">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    </div>
                    <h5>Web</h5>
                    <ul>
                         <li>Web design</li>
                          <li>Web development</li>
                          <li>Custom CMS sites</li>
                    </ul>
                    
                  </div>
                  <div class="services pg-top">
                    <div class="icon-circle">
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <h5>Mobile</h5>
                    <ul>
                          <li>Native Mobile Apps</li>
                          <li>Responsive websites</li>
                          <li>Web Apps</li>
                          
                    </ul>
                  </div>
                  <div class="services pg-top">
                    <div class="icon-circle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                    <h5>eCommerce</h5>
                     <ul>
                          
                          <li>Shopify Expert</li>
                          <li>eCommerce Websites</li>
                          
                    </ul>
                  </div>
                 </div>
                 </div>
               </div>
               <div class="how-to">
                <div class="wrapper">
                 <h2 class="kt-indexHeader"> Clients We have worked with </h2>

                 <div class="row">
                  <div class="client-site">
                      <a class="site-link" href ="http://www.cherieleeinteriors.co.uk/" title ="Cherielee interiors" target= "_blank">
                        <img width="300"  class="img-responsive" src="/assets/Images/Home/ScreenShot/cherieLee.jpg">
                      </a>
                      <h3 class="pg-top client-title">
                        <a class="site-link" href ="http://www.cherieleeinteriors.co.uk/" title ="Cherielee interiors" target= "_blank">Cherielee Interiors </a>
                      </h3>
                      <p class="client-service">Responsive / Web</p>
                   </div>
                    <div class="client-site">
                      <a class="site-link" href ="https://www.tileexperience.co.uk/" target="_blank" title ="Bathroom Experience">
                         <img width="300" class="img-responsive" src="/assets/Images/Home/ScreenShot/tileexperience.jpg">
                      </a>
                      <h3 class="pg-top client-title">
                        <a class="site-link" href ="https://www.tileexperience.co.uk/" target="_blank" title ="Bathroom Experience">Bathroom Experience </a>
                      </h3>
                       <p class="client-service">Responsive / eCommerce</p>
                   </div>
                    <div class="client-site">
                        <a class="site-link" href ="https://apps.apple.com/gb/app/tigrinya-dictionary/id1479328623" title ="Boydent tiles" target="_blank">
                          <img width="300" class="img-responsive" src="/assets/Images/Home/ScreenShot/tigrinya.jpg">
                        </a>
                        <h3 class="pg-top client-title">
                          <a class="site-link" href ="https://apps.apple.com/gb/app/tigrinya-dictionary/id1479328623" title ="Boydent tiles" target="_blank">Tigrinya Dictionary App</a></h3>
                      <p class= "client-service">Mobile / App</p>
                   </div>
                   
                 </div>
                 <div class="row">
                  <div class="client-site">
                      <a class="site-link" href ="https://beles.co.uk/" target="_blank" title ="Beles Habesha products online">
                          <img  width="300"  class="img-responsive" src="/assets/Images/Home/ScreenShot/beles.jpg">
                      </a>
                      <h3 class="pg-top client-title">
                         <a class="site-link" href ="https://www.bathroom-experience.co.uk/" target="_blank" title="Bathroom Experience">Beles </a> 
                      </h3>
                      <p class="client-service">Shopify / eCommerce</p>
                 </div>
                  <div class="client-site">
                      <a class="site-link" href ="http://boydentiles.co.uk/" title ="Boydent tiles" target="_blank">
                          <img  width="300" class="img-responsive" src="/assets/Images/Home/ScreenShot/boyden.jpg">
                      </a>
                      <h3 class="pg-top client-title">
                        <a class="site-link" href ="http://boydentiles.co.uk/" title ="Boydent tiles" target="_blank">Boyden Tiles</a>
                      </h3>
                      <p class= "client-service">Responsive / Web</p>
                 </div>
                 <div class="client-site">
                      <a class="site-link" href ="https://btbarbers.github.io/" title ="Cherielee interiors" target= "_blank">
                        <img  width="300" class="img-responsive" src="/assets/Images/Home/ScreenShot/btBarbers.jpg">
                      </a>
                      <h3 class="pg-top client-title">
                          <a class="site-link" href ="https://btbarbers.github.io/" title ="Cherielee interiors" target= "_blank">BT Barbers </a>
                      </h3>
                      <p class="client-service">Responsive / Web</p>
                  </div>
               </div>
                 
                   

              <p class="kt-refer">* some of the sites are developed during my time at <a class="site-link" href="https://www.clevagroup.co.uk/" target"_blank">Clevagroup</a></p>
                 
                
               </div>
                </div>
                <div class="reviews-section">
                  <div class="wrapper">
                  <h2 class="kt-indexHeader"> About us</h2>
                  <p>
                     LeGi is a technology company that develops websites, web application and
                     mobile applications. Our mission is to help small businesses grow their
                      business by providing high-quality technology solutions. 
                    </p>
                    <p>LeGi has helped hundreds of entrepreneurs launch successful eCommerce stores, 
                        develop website and mobile apps that generate revenue for their business or 
                        simply find the perfect product on our marketplace with ease.
                    </p>
                    <p>
                      <strong>-Vision:</strong> To be the leading provider of cutting edge website design, 
                      online shopping carts and mobile application development services by 
                      providing our clients with state-of-the-art technology at affordable prices. 
                    </p>
                  </div>
                </div>
               <div class="kt-contact">
                 <div class="wrapper">

                  <h2 class="kt-indexHeader"> Contact Us </h2>
                 <div class="row">
                  <div class="kt-contactinfo">
                    <i class="fa fa-phone kt-contacticons" aria-hidden="true"></i>
                    <p class="contact-info">+447737130767</p>
                  </div>
                  <div class="kt-contactinfo pg-top">
                    <i class="fa fa-envelope kt-contacticons" aria-hidden="true"></i>
                    <p class="contact-info"><a href="mailto:info@legi.uk">info@legi.uk</a></p>
                  </div>
                  <div class="kt-contactinfo pg-top">
                    <i class="fa fa-map-marker kt-contacticons" aria-hidden="true"></i>
                    
                            <p class="contact-info">London, England</p>
                  </div>
                 </div>
                </div>
                 </div>

           
  

</div>

            

      </div>

    </div>
   {% include footer.html %}

  </body>
</html>


